<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Agrega tus meta y title aquí -->
</head>

<body>

    <header>
        <!-- ... Tu código actual de navegación ... -->
        <br>
        <a href="/create">Agregar Producto</a>
        <br><br>
        <hr>
        
        <form action="/search" method="GET">
            <label for="search">Buscar producto:</label>
            <input type="text" id="search" name="q" placeholder="Ingrese el nombre del producto">
            <button type="submit">Buscar</button>
        </form>
    
    </header>

    <main>
        <% productos.forEach(producto => { %>
            <br>
            <div>
               
                <p>Marca: <%= producto.marca %></p>
                <p>Modelo: <%= producto.modelo %></p>
                <p>Precio: <%= producto.precio %></p>
                <a href="/detalle/<%= producto.id %>">Ver detalle</a>
            
            </div>
        <% }) %>
    </main>
    
    <footer>
        <p>Derechos reservados &copy; 2023</p>
    </footer>

</body>

</html>
